header {
    display: flex;
    justify-content: center;
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 500px;
    }
    .navbar-brand {
        .site-logo {
            img {
                height: 80px;
                width: 80px;
            }
            color: #fff;
        }
    }
    .site-title {
        color: rgba(255, 255, 255, 0.8);
    }
    #search-block-form {
        .form-type-search {
            &:focus {
                border: 1px solid #000;
                outline: none;
                box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
            }
        }
        #edit-submit {
            background-color: grey;
            border: 1px solid grey;
            color: #fff;
            &:focus {
                border: 1px solid grey;
            }
        }
    }
}
